* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: auto;
    /* padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; */
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
}

[class*="col-"] {
    width: 100%;
    min-height: 1px;
    /* padding-right: 15px;
    padding-left: 15px; 
    text-align: center;*/
    line-height: 2;
}

.col-1 {
    flex: calc(100%/12);
    max-width: calc(100%/12);
}

.col-2 {
    flex: calc(100%/6);
    max-width: calc(100%/6);

}

.col-3 {
    flex: calc(100%/4);
    max-width: calc(100%/4);

}

.col-4 {
    flex: calc(100%/3);
    max-width: calc(100%/3);
}

.col-5 {
    flex: calc(100%/2.4);
    max-width: calc(100%/2.4);
}

.col-7 {
    flex: calc(100%/12/7);
    max-width: calc(100%/(12/7));
}

.col-6 {
    flex: calc(100%/2);
    max-width: calc(100%/2);
}

.col-8 {
    flex: calc(100%/(12/8));
    max-width: calc(100%/(1.5));
}

.col-9 {
    flex: calc(100%/1.33333333333);
    max-width: calc(100%/1.33333333333);
}

.col-10 {
    flex: calc(100%/1.2);
    max-width: calc(100%/1.2);

}

.col-11 {
    flex: calc(100%/(12/11));
    max-width: calc(100%/1.09090909091);
}

.col-12 {
    flex: calc(100%/1);
    max-width: calc(100%/1);
}